body {
    margin-top: 60px;
}

.inline {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.min {
    min-height: 170px;
}

.bolded-item {
    font-weight: 500;
}

.no-bullets {
    list-style-type: none;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}