<div class="dashboard">
    <a href="#/dashboard" class="btn btn-success">Dashboard</a>
    <a ng-if="isAdmin" class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Edit Project</div>
    <div class="inline">
        <div>
            <label class="bolded-item" for="name">Name </label>
            <input class="inline" id="name" value="{{projectData.Name}}"/>
            <br/>
            <label class="bolded-item" for="description">Description </label>
            <input class="inline" id="description" value="{{projectData.Description}}"/>
            <br/>
            <label class="inline bolded-item" for="lead-id">LeadId {{projectData.Lead.Id}}</label>
            <select name="lead-id" id="lead-id"></select>
            <br/>
            <label class="bolded-item" for="priorities">Priorities (separated by comma) </label>
            <input class="inline" name="priorities" id="priorities" value="{{projectData.Priorities}}"/>
            <br/>
            <label class="bolded-item" for="labels">Labels (separated by comma) </label>
            <input class="inline" name="labels" id="labels" value="{{projectData.Labels}}"/>
            <br/>
        </div>
    </div>
    <br/>
    <button ng-click="editProject(projectData)" class="btn btn-success">Edit Project</button>
</div>