<div class="dashboard">
    <a href="#/projects/{{issueData.ProjectId}}" class="btn btn-success">Go Back To Project</a>
    <a href="#/dashboard" class="btn btn-success">Dashboard</a>
    <a class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Add Issue</div>
    <div class="inline">
        <div>
            <label class="bolded-item" for="title">Title </label>
            <input class="inline" id="title" ng-model="issueData.Title" />
            <br/>
            <label class="bolded-item" for="description">Description </label>
            <input class="inline" id="description" ng-model="issueData.Description" />
            <br/>
            <label class="bolded-item" for="project-id">Project</label>
            <select disabled id="project-id"><!--name="project-id" id="project-id"
                    ng-options="project.Name for project in projects track by project.Id"
                    ng-model="projectData.Title"-->
                <option selected = selected>
                    {{projectData.Name}}
                </option>
            </select>
            <br/>
            <label class="bolded-item" for="assignee-id">Assignee</label>
            <select name="assignee-id" id="assignee-id"
                    ng-options="user.Username for user in users track by user.Id"
                    ng-model="projectData.Lead">
            </select>
            <br/>
            <label class="bolded-item" for="priority-id">Priority</label>
            <select name="assignee-id" id="priority-id"
                ng-options="priority.Name for priority in projectData.Priorities track by priority.Id"
                ng-model="projectData.Priorities[0]">
            </select>
            <br/>
            <label class="bolded-item" for="due-date">Due Date</label>
            <input class="inline" name="due-date" id="due-date" ng-model="issueData.DueDate" date-picker="" />
            <br/>
        </div>
    </div>
    <br/>
    <a ng-click="addIssue(issueData)" class="btn btn-success">Add Issue</a>
</div>