<div class="dashboard">
    <a href="#/dashboard" class="btn btn-success">Dashboard</a>
    <a ng-if="isAdmin" class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Change Password</div>
    <div class="inline">
        <form name="changePasswordForm">
            <label for="oldPassword">Old Password: </label>
            <input type="password" name="oldPassword" id="oldPassword" ng-model="passData.oldPassword" required>
            <br/>
            <label for="newPassword">Password: </label>
            <input type="password" name="newPassword" id="newPassword" ng-model="passData.newPassword" required>
            <br/>
            <label for="confirmPassword">Confirm password: </label>
            <input type="password" name="confirmPassword" id="confirmPassword" ng-model="passData.confirmPassword" required>
            <br/>
            <a ng-disabled="changePasswordForm.$invalid || passData.newPassword !== passData.confirmPassword" ng-click="changePassword(passData)" class="btn btn-success">Change Password</a>
        </form>
    </div>
</div>

<div class="col-md-6 well">

</div>