<div ng-cloak="" class="dashboard">
    <a href="#/home" class="btn btn-success">Dashboard</a>
    <a href="#/projects" ng-if="isAdmin" class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Change Password</div>
    <div class="inline">
        <form name="changePasswordForm">
            <label for="oldPassword">Old Password: </label>
            <input type="password" name="oldPassword" id="oldPassword" ng-minlength="6" ng-maxlength="100" required="required" ng-model="passData.oldPassword" required>
            <br/>
            <label for="newPassword">Password: </label>
            <input type="password" name="newPassword" id="newPassword" ng-minlength="6" ng-maxlength="100" required="required" ng-model="passData.newPassword" required>
            <br/>
            <label for="confirmPassword">Confirm password: </label>
            <input type="password" name="confirmPassword" id="confirmPassword" min-length="6" max-length="100" required="required" ng-model="passData.confirmPassword" required>
            <br/>
            <button ng-disabled="changePasswordForm.$invalid || passData.newPassword !== passData.confirmPassword" ng-click="changePassword(passData)" class="btn btn-success">
                Change Password
            </button>
        </form>
    </div>
</div>