<div class="jumbotron" style="height: 100%">
<button class="btn btn-success">Dashboard</button>
<button class="btn btn-success">Projects</button>
<h1>Dashboard</h1>
<div class="inline min">
	<h2>Affiliated Projects</h2>
	<div class="no-bullets" ng-repeat="project in userAffiliatedProjects">
		<li class="margin-bottom-5"><a href="">{{project.Name}}</a></li>
	</div>
</div>
<div class="inline right">
	<table class="table table-striped">
		<thead>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Project</td>
			<td>Due Date</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="issue in latestIssues">
			<td>{{issue.Title}}</td>
			<td>{{issue.Description}}</td>
			<td>{{issue.Project.Name}}</td>
			<td>{{issue.DueDate}}</td>
		</tr>
		</tbody>
	</table>
</div>
</div>