<div class="dashboard jumbotron" style="height: 100%">
<button class="btn btn-success">Dashboard</button>
<button class="btn btn-success">Projects</button>
<h1>Dashboard</h1>
<div class="inline min">
	<h3>Affiliated Projects</h3>
	<div class="no-bullets" ng-repeat="project in userAffiliatedProjects">
		<li class="margin-bottom-5"><a href="#/projects/{{project.Id}}">{{project.Name}}</a></li>
	</div>
</div>
<div class="inline right">
	<table class="table table-striped">
		<thead>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Project</td>
			<td>Due Date</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="issue in issues.Issues">
			<td><a href="">{{issue.Title}}</a></td>
			<td>{{issue.Description}}</td>
			<td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
			<td>{{issue.DueDate | date : 'dd MMMM yyyy'}}</td>
		</tr>
		</tbody>
	</table>

	<pagination total-items="issues.TotalCount" ng-model="issuesParams.pageNumber" items-per-page="issuesParams.pageSize" ng-change="reloadIssues()" max-size="9" boundary-links="true">
	</pagination>
</div>
</div>