<div class="dashboard dashboard" style="height: 100%;">
<a href="#/home" class="btn btn-success">Dashboard</a>
<a href="#/projects" ng-if="isAdmin" class="btn btn-success">Projects</a>
<a href="#/projects/add" ng-if="isAdmin" class="btn btn-success">Add New Project</a>
<h1>Dashboard</h1>
<div class="inline min">
	<p id="affiliated-title">Affiliated Projects</p>
	<div class="no-bullets" ng-repeat="project in userAffiliatedProjects">
		<li class="margin-bottom-5"><a href="#/projects/{{project.Id}}">{{project.Name}}</a></li>
	</div>
	<div ng-show="userAffiliatedProjects.length === 0">No projects</div>
</div>
<div class="inline issues-list right">
	<table class="table table-striped">
		<thead>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Project</td>
			<td>Due Date</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="issue in issues.Issues">
			<td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
			<td>{{issue.Description}}</td>
			<td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
			<td>{{issue.DueDate | date : 'dd MMMM yyyy'}}</td>
		</tr>
		<tr ng-show="issuesNone">
			<td class="no-issues" colspan="4">No issues</td>
		</tr>
		</tbody>
	</table>

	<pagination total-items="issues.TotalCount" ng-model="issuesParams.pageNumber" items-per-page="issuesParams.pageSize" ng-change="reloadIssues()" max-size="9" boundary-links="true">
	</pagination>
</div>
</div>