<div ng-if="isCurrentUserProjectLead" class="dashboard">
    <a href="#/issues/{{issueData.Id}}" class="btn btn-success">Go Back To Issue</a>
    <a href="#/dashboard" class="btn btn-success">Dashboard</a>
    <a ng-if="isAdmin" class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Edit Issue</div>
    <div class="inline">
        <p class="project-title inline bolded-item">123adfj</p>
        <form name="editIssueForm">
            <label for="title" class="bolded-item">Title </label>
            <input class="inline" id="title" value="{{issueData.Title}}"/>
            <br/>
            <label class="bolded-item" for="description">Description </label>
            <input class="inline" id="description" value="{{issueData.Description}}"/>
            <br/>
            <label class="bolded-item" for="project-id">Project</label>
            <select disabled id="project-id"><!--name="project-id" id="project-id"
                    ng-options="project.Name for project in projects track by project.Id"
                    ng-model="projectData.Title"-->
                <option selected = selected>
                    {{issueData.Project.Name}}
                </option>
            </select>
            </br>
            <label class="bolded-item" for="leadId">Assignee </label>
            <p class="inline" id="leadId">(current id: {{issueData.Assignee.Id}})</p>
            <input class="inline" name="description" value="{{issueData.Assignee.Username}}" readonly/>
            <br/>
            <label class="bolded-item" for="priority">Priority </label>
            <p class="inline" id="priority">(current id: {{issueData.Priority.Id}})</p>
            <input class="inline" name="priority" value="{{issueData.Priority.Name}}" readonly/>
            <br/>
            <label class="bolded-item" for="dueDate">DueDate </label>
            <input class="inline" name="priority" value="{{issueData.DueDate | date : 'dd MMMM yyyy'}}" id="dueDate" date-picker=""/>
            <br/>
            <label class="inline" for="labels">Labels: </label>
            <p class="issue-paragraph inline" id="labels">{{joinProperties(issueData.Labels)}}</p>
            </br/>
            <label class="inline" for="status">Status: </label>
            <p class="issue-paragraph inline" id="status">{{issueData.Status.Name}}</p>
            <button ng-disabled="editIssue.$invalid" ng-click="editIssue(issueData)" class="btn btn-success">Edit Issue</button>
        </form>
    </div>
    <div class="issue-statuses inline right">
        <p class="issue-paragraph">Available statuses:</p>
        <p ng-if="issueData.AvailableStatuses.length === 0">None</p>
        <div ng-repeat="status in issueData.AvailableStatuses">
            <p class="inline">-----{{status.Name}}</p>
            <button ng-if="currentUserId === issueData.Assignee.Id" ng-click="changeIssuesStatus(issueData.Id, status.Id)" class="btn btn-success inline">
                Change
            </button>
        </div>
    </div>
</div>