<div class="navbar-header">
    <div>
        <a href="#/" class="navbar-brand">Issue Tracking System</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
    <div ng-if="isAuthenticated">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/dashboard">Home</a>
            </li>
            <li>
                <a ng-click="logout()" class="link">Logout</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a>{{username}}</a></li>
        </ul>
    </div>
</div>