<div ng-cloak class="dashboard">
    <a href="#/home" class="btn btn-success">Dashboard</a>
    <a ng-if="isAdmin" class="btn btn-success">Projects</a>
    <div class="alert alert-success info-panel" role="alert">Issue Page</div>
    <div class="inline">
        <p class="project-title inline bolded-item">123adfj</p>
        <a ng-if="isCurrentUserProjectLead || currentUserId === issueData.Assignee.Id" href="#/issues/{{issueData.Id}}/edit" class="btn btn-success">Edit</a>
        <div>
            <label for="title" class="bolded-item">Title </label>
            <input class="inline" id="title" value="{{issueData.Title}}" readonly/>
            <br/>
            <label class="bolded-item" for="description">Description </label>
            <input class="inline" id="description" value="{{issueData.Description}}" readonly/>
            <br/>
            <label class="bolded-item" for="leadId">Assignee </label>
            <p class="inline" id="leadId">(current id: {{issueData.Assignee.Id}})</p>
            <input class="inline" name="description" value="{{issueData.Assignee.Username}}" readonly/>
            <br/>
            <label class="bolded-item" for="priority">Priority </label>
            <p class="inline" id="priority">(current id: {{issueData.Priority.Id}})</p>
            <input class="inline" name="priority" value="{{issueData.Priority.Name}}" readonly/>
            <br/>
            <label class="bolded-item" for="dueDate">DueDate </label>
            <input class="inline" name="priority" value="{{issueData.DueDate | date : 'dd MMMM yyyy'}}" id="dueDate" readonly/>
            <br/>
            <label class="inline" for="author">Author: </label>
            <p class="issue-paragraph inline" id="author">{{issueData.Author.Username}}</p>
            <br/>
            <label class="inline" for="project">Project: </label>
            <p class="issue-paragraph inline" id="project">{{issueData.Project.Name}}</p>
            <br/>
            <label class="inline" for="status">Status: </label>
            <p class="issue-paragraph inline" id="status">{{issueData.Status.Name}}</p>
            <br/>
            <label class="inline" for="labels">Labels: </label>
            <p class="issue-paragraph inline" id="labels">{{issueData.LabelNames}}</p>
        </div>
    </div>
    <div class="issue-statuses inline right">
        <p class="issue-paragraph">Available statuses:</p>
        <p ng-if="issueData.AvailableStatuses.length === 0">None</p>
        <div ng-repeat="status in issueData.AvailableStatuses">
            <p class="inline">-----{{status.Name}}</p>
            <button ng-if="currentUserId === issueData.Assignee.Id" ng-click="changeIssuesStatus(issueData.Id, status.Id, status.Name, issueData.Status)" class="btn btn-success inline">
                Change
            </button>
        </div>
    </div>
    <hr>
    <div ng-repeat="comment in comments" id="all-comments">
        <div class="alert alert-success comment-author" role="alert">{{comment.Author.Username}} - {{comment.CreatedOn | date : 'dd MMMM yyyy'}}</div>
        <div class="comment-text">{{comment.Text}}</div>
    </div>
    <div ng-if="commentsNone">No comments</div>
    <form name="addCommentForm" ng-if="isCurrentUserProjectLead || currentUserId === issueData.Assignee.Id" class="form-group">
        <div class="comment-section">
            <label for="comment-text" class="bolded-item margin-top-15">Text: </label>
            <br/>
            <textarea required="required" ng-model="comment.Text" id="comment-text" class="form-control"></textarea>
        </div>
        <button ng-disabled="addCommentForm.$invalid" ng-click="addComment(issueData.Id, comment); appendComment(comment)" class="btn btn-success">Add Comment</button>
    </form>
</div>